body
{
height: fit-content;
width: 1000px;
border: 1px solid black;
padding: 30px;
margin-left: 250px;
background-color: rgb(142, 142, 238);
}
h1
{
    text-align: center;
    text-decoration: underline;
    background-color: blueviolet;

}
h2
{
    text-align: center;
    text-decoration: underline;
    background-color: rgb(92, 62, 213);
    margin-top: -20px;
}
.image
{
display: flex;
justify-content: center;
align-items: center;
}
.div1 a
{
    display: flex;
    justify-content: center;
align-items: center;

margin: 10px;
text-decoration: none;
}
.image2
{
    float: right;
}
h1{
position: sticky;
   
    top: 0px;
}
.image3
{
    float: left;
}
.p3
{
    padding-left: 330px;
}
legend{
    background-color: bisque;
    border: 1px solid balck;
}
fieldset
{
    background-color: rgb(249, 244, 244);
    border: 2px solid balck;
    height: fit-content;
    width: fit-content;
}